
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: rgb(119, 104, 104);
}

main {
  display: block;
  text-align: center;
  padding: 20px;
  border-radius: 25px;
  border: solid 5px white;
  max-width: 300px;
  height: 450px;
  background-color: rgb(57, 133, 248);
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  outline: none;
}

button {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

button i {
  font-size: 20px;
  color: rgb(235, 221, 221);
}

#content {
  display: flex;
  flex-direction: column;
   margin-top: 20px;
 
}

#content i {
  font-size: 20px;
  padding: 5px;
}

.img-content {
  align-items: center;
 
}

.img-content img {
  width: 80px;
}