@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(230, 230, 230);
  
}

h2{
  color: white;
}

main {
  display: block;
  text-align: center;
  padding: 20px;
  border-radius: 25px;
  background: linear-gradient(0deg, rgb(0, 102, 255) 32%, rgb(10, 33, 167) 100%);
  max-width: 300px;
  height: auto;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  font-family: 'Roboto', sans-serif;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: solid 1px grey;
  font-size: 15px;
  }

button {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

button i {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

#content-response {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#content-response i {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

#content-response p {
  font-weight: 400;
  color: rgb(41, 40, 40);
}

#content-response .hidden {
  display: none;
}

.img-content {
  align-items: center;
}
.img-content img {
  width: 80px;
}
